#chatui{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-default);
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    background-color: orange;
    width: 320px;
    height: 400px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    margin: 12px;
    border-radius: 7px;
}
#chatbody::-webkit-scrollbar {
    display: none;
}
#chatheader{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-default);
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    height: 50px;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-width: initial;
    border-style: none none solid;
    border-image: initial;
    border-bottom: solid white;
    padding: 5px;
}
#chatheader:hover{
    cursor:grab
}
#chatheader:mousedown{
    cursor:grabbing
}

#chatheaderleft{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: inline;
    font-size: 28px;
    color: white;
    font-family: system-ui;
    padding: 5px 5px 5px 25px;
}
#chatheaderright{
    
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-default);
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    display: inline-flex;
    float: right;
    height: 40px;
    width: 170px;
    justify-content: right;
    padding: 5px;
}
#chatheaderright button{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: var(--sans-serif);
    margin-right: 5px;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
#chatheaderright button:hover{
    cursor: pointer;
    background-color: white;
}
#minmaxbtn:hover{
    cursor: pointer;
}

#chatbody{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-default);
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    height: 300px;
    background-color: rgb(255, 238, 219);
    overflow-y: scroll;
    display: block;
    padding: 10px;
}

#chatbodyleft{
    
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-default);
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    background-color: orange;
    width: auto;
    max-width: 270px;
    height: auto;
    float: left;
    display: block;
    margin-bottom: 10px;
    margin-right: 60px;
    border-radius: 5px;
    padding: 5px;
}
#chatbodylefttop{
    font-size: 12px;
}
#chatbodyright{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    background-color: orange;
    width: auto;
    max-width: 270px;
    height: auto;
    float: right;
    display: block;
    margin-bottom: 10px;
    margin-left: 60px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
#chatbodyrighttop{
    font-size: 12px;
    text-align: right;
}
#chatfooter{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-default);
    font-family: var(--sans-serif);
    font-size: var(--font-size-small);
    box-sizing: border-box;
    height: 50px;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-width: initial;
    border-style: solid none none;
    border-image: initial;
    border-top: solid white;
    padding: 5px;
}
#chatfooter input{
    --app-header-height: 60px;
    --public-header-height: 60px;
    --public-header-nav-item-margin: 30px;
    --primary: #10a37f;
    --primary-50: #ebfaeb;
    --primary-100: #d2f4d3;
    --primary-200: #b9eebc;
    --primary-300: #93e69c;
    --primary-400: #68de7a;
    --primary-500: #19c37d;
    --primary-600: #10a37f;
    --primary-700: #1a7f64;
    --primary-800: #1b5d4a;
    --primary-900: #183d31;
    --primary-50a: rgba(16,163,127,.2);
    --primary-100a: rgba(16,163,127,.3);
    --secondary: #5436da;
    --secondary-50: #ecebf9;
    --secondary-100: #d2cff2;
    --secondary-200: #b9b4ec;
    --secondary-300: #a198e6;
    --secondary-400: #897ce2;
    --secondary-500: #715fde;
    --secondary-600: #5436da;
    --secondary-700: #482da8;
    --secondary-800: #3b2479;
    --secondary-900: #281852;
    --secondary-100a: rgba(84,54,218,.3);
    --green-50: #ebfaeb;
    --green-100: #d2f4d3;
    --green-200: #b9eebc;
    --green-300: #93e69c;
    --green-400: #68de7a;
    --green-500: #19c37d;
    --green-600: #10a37f;
    --green-700: #1a7f64;
    --green-800: #1b5d4a;
    --green-900: #183d31;
    --green-100a: rgba(16,163,127,.3);
    --red-50: #fdebeb;
    --red-100: #f9cfcf;
    --red-200: #f6b2b3;
    --red-300: #f49394;
    --red-400: #f17173;
    --red-500: #ef4146;
    --red-600: #c23539;
    --red-700: #9d2b2e;
    --red-800: #7b2124;
    --red-900: #59181a;
    --red-100a: rgba(239,65,70,.3);
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #6e6e80;
    --gray-700: #565869;
    --gray-800: #353740;
    --gray-900: #202123;
    --medium-wash: #eff7f8;
    --bg-color: #fff;
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: #ef4146;
    --font-size-small: 16px;
    --input-border: var(--gray-300);
    --input-border-focus: var(--primary-600);
    --input-focus-ring: 0px 0px 0px 1px #10a37f;
    --icon-warning-color: #f4ac36;
    --heading-margin-top: 30px;
    --heading-margin-bottom: 16px;
    --content-width: 760px;
    --content-v-padding: 40px;
    --content-h-padding: 56px;
    --border-radius: 4px;
    --sans-serif: "ColfaxAI",helvetica,sans-serif;
    --monospace: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: var(--sans-serif);
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 4px;
}

.hide{
    display: none !important;
}

  
  #main-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #E1E8FD;
    overflow: hidden;
    #floating-snap-btn-wrapper {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      .fab-btn {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ff9a27;
        color: white;
        z-index: 1000;
        box-shadow: 0px 2px 17px -1px rgba(0,0,0,0.3);
      }
      ul {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        li {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f7f7f7;
          color: black;
          list-style-type: none;
          transform: scale(0.95);
          transition: .5s;
          border-radius: 50%;
        }
      }
      &.fab-active {
        li:hover{
         background-color: #f8e487;
        }
      &.left {
         li:nth-child(1) {
          top: 0%;
          left: 300%;
          transition-delay: 0s;
        }
        li:nth-child(2) {
          top: 0%;
          left: 200%;
          transition-delay: 0.2s;
        }
        li:nth-child(3) {
          top: 0%;
          left: 100%;
          transition-delay: 0.4s;
        }
      }
      &.right {
        li:nth-child(1) {
          top: 0%;
          left: -300%;
          transition-delay: 0s;
        }
        li:nth-child(2) {
          top: 0%;
          left: -200%;
          transition-delay: 0.2s;
        }
        li:nth-child(3) {
          top: 0%;
          left: -100%;
          transition-delay: 0.4s;
        }
      }
    }
    }
  }

#floating-snap-btn-wrapper{
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 50px;
}



.fab-btn{
    background-color: orange;
    height: 50px;
    border-radius: 25px;
}

#chatbodyleftbottom{
    font-size: 14.2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#meditatemodal{
    display: none;
    position: fixed;
    width: 400px;
    z-index: 9999;
    height: 250px;
    background-color: orange;
    top: 25%;
    left: 30%;
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
    color: white;
}
#meditatebodyinput{
    height: 100px;
    width: 90px;
    font-size: 70px;
    /* color: orange; */
    margin-left: 100px;
    /* margin: 0px; */
    border: none;
    /* overflow: unset; */
    border-radius: 10px;
    background-color: white;
}

#meditatefooter{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#meditatefooterbutton{
    background: white;
    border: none;
    color: orange;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 20px;
}

#meditatefootercancel{
    margin-left: 20px;
    background: white;
    border: none;
    /* color: orange; */
    width: 80px;
    height: 40px;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 20px;
    color: black;
}

.topmeditatetext{
    margin-bottom: 20px;
    display: block;

}

#meditatefooter button:hover{
    background-color: #f8e487;
    cursor: pointer;
}
#meditatetimerfooter button:hover{
    background-color: #f8e487;
    cursor: pointer;
}


#meditatetimer{
    display: none;
    position: fixed;
    width: 400px;
    z-index: 9999;
    height: 250px;
    background-color: orange;
    top: 25%;
    left: 30%;
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
    color: white;
}

#meditatetimerbody{
    display: flex;
    width: 100%;
    height: 170px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 80px;

}

#meditatetimerfooter{
    display: flex;
    justify-content: center;
}

#meditatetimerfooterbutton{
    margin-left: 20px;
    background: white;
    border: none;
    /* color: orange; */
    color: black;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 20px;

}